:root {
	color-primary: #d73953;
	color-black: #090909;
	color-white: #ffffff;
	color-light-grey: #f3f3f3;
	color-dark-grey: #353535;
	text-color: color-black;
}

section-tagline.with-revert {
	color: color-primary;
}

card-category.with-revert {
	color: color-primary;
}

body.with-revert,
a.with-recert {
	color: text-color;
}
